* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #9c9c9c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 77px;
    margin: 1px;
}

.header div {
    padding-top: 23px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://wallpapercave.com/dwp2x/wp5227305.jpg");
    background-size: cover;
    background-position: center;
}

.hero h2 {
    width: 450px;
    position: relative;
    border: 1px solid white;
    font-size: 50px;
    color: #ffffff;
    left: 40px;
    top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tesla {
    float: left;
    width: 47%;
    height: 440px;
    padding: 5px;
    border: solid rgb(255, 255, 255);
    border-width: 7px; 
    margin: 5px;  
}

#neuralink {
    float: right;
    width: 47%;
    height: 440px;
    padding: 5px;
    border: solid rgb(255, 255, 255);
    border-width: 7px;
    margin: 5px;
}

#spacex {
    padding: 10px 10px 10px 10px;
    border: solid rgb(255, 255, 255);
    border-width: 7px;
    margin: 10px, 10px, 10px, 10px;
    height: 100%;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.projects {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9c9c9c;
}

.run-buddy {
    margin-bottom: 32px;
    color: #ffffff;
}

.park-buddy {
    margin-bottom: 32px;
    color: #ffffff;
}

.game {
    margin-bottom: 32px;
    color: #ffffff;
}

.run-buddy h3 {
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
}

.park-buddy h3 {
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
}

.game h3 {
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
}

.run-buddy img {
    display: block;
    margin: 10px auto;
    max-width: 225px;
}

.park-buddy img {
    display: block;
    margin: 10px auto;
    max-width: 225px;
}

.game img {
    display: block;
    margin: 10px auto;
    max-width: 2250px;
}

.spacex {
    margin-bottom: 30px;
    padding: 30px;
    height: 300px;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9c9c9c;
    color: #ffffff;
    border: solid white;
}

.teslaneura {
    padding: 15px;
    height: 500px;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #9c9c9c;
    color: #ffffff;
    border: solid white;
}

.spacex img {
    width: 55%;
    height: 207px;
    vertical-align: middle;
}

.tesla img {
    width: 100%;
    height: 200px;
    padding-bottom: 11px;
    
}

.neuralink img {
    width: 100%;
    height: 200px;
    padding-bottom: 11px;
}

.social-media-marketing img {
    max-height: 200px;
}

.spacex h2 {
    font-size: 36px;
}

.tesla h2 {
    font-size: 36px;
}


.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

.text-block {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.603);
    color: rgba(0, 0, 0, 0.589);
    padding: 5px 5px 5px 5px;
}

.container {
    position: relative;
}

.neuralink h2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.603);
    color: rgba(0, 0, 0, 0.589);
    padding: 5px 5px 5px 5px;
    font-size: 36px;
}

@media all and (max-width: 575px) {
    body {
        background-color: #b04fc9;
    }
}